<div class="modalholder">
        <div class="modal-header">
            <h3 class="modal-title">Add a new PIN</h3>
        </div>
        <div class="modal-body">
            <div class="picholder">
                <img src={{srcurl}}>
            </div>
            <form name="form">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" ng-model="title" required class="form-control"></input>
                </div>
                <div class="form-group">
                    <label for="srcurl">Source(http link):</label>
                    <input type="text" name="srcurl" id="srcurl" ng-model="srcurl" required class="form-control"></input>    
                </div>    
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>    
        <div>
            <p>{{errInfo}}</p>
        </div>
</div>