<div>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" target="_self">PINTEREST</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav narvar-left">
                <li ng-class='{active : isActive("recentPins")}'><a href="/recentBoard" target="_self">Recent PINs</a></li>
                <li ng-class='{active : isActive("winBoard")}' ng-show="isAuthenticated"><a href="/winBoard">Your Winboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class='{active : isActive("signup")}' ng-show="!isAuthenticated"><a href="/signup">Sign Up</a></li>
                <li ng-class='{active : isActive("login")}' ng-show="!isAuthenticated"><a href="/login">Log In</a></li>
                <li ng-class='{active : isActive("setting")}' ng-show="isAuthenticated"><a href="/setting">Setting</a></li>
                <li ng-if="isAuthenticated" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{currentUser.email || currentUser.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>